#logo{
  font-size: 50px;
  font-style: bold;
  font-family: "Lucida Console", "Courier New", monospace;
  position: fixed;
  top:1%;
  left:5%;
  background-color: rgb(235, 208, 173);
}

#welcome{
  margin-left: 30%;
  font-size: 45px;
}

.fixed-nav{
  position: fixed;
  top: 40px;
  right:1%;
  
}

#navbar{
  position: fixed;
  top: 1%;
  right: 1%;
}

.navbar-button{
  font-size: 20px;
  position: fixed;
  top: 20px;
  right:1%;
}

.navbar-content{
  display: none;
  background-color: rgb(235, 208, 173);
}

a{
  color: rgb(151, 107, 48);
}

a:hover{
  font-size: 25px;
}

body{
  background-image: url(images/berkeley-communications-EWcq96cHGrk-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(112, 75, 38);
  font-size: larger;
}

section{
  align-items: center;
  padding-top: 5%;
  padding-left: 30%;
  width: 50vh;
}


#welcome-section{
  height: 5git0vh;
  color: rgb(124, 73, 6);
  font-size: 20px;
}

footer{
  bottom: 0%;
  display: inline-block;
}

#to-top{
  bottom: 0%;
  right: 0%;
  position: fixed;
}

#projects li{
  list-style: circle;
  font-family: fantasy;
}

.contacts{
  position: fixed;
  bottom: 0%;
}

.contacts a{
  text-decoration: none;
  font-size: 20px;
}

.contacts a:hover{
  font-size: 30px;
}

#navbar-contacts{
  display: none;
  position: fixed;
  top: 27%;
  right: 15%;
  height: 20px;
}

h1{
  color: rgb(180, 107, 12);
  font-size: 50px;
}

.project-description{
  color: rgb(240, 149, 46);
}

.certificate-description{
  color: rgb(240, 149, 46);
}

@media (max-width: 700px) {
  body{
    display: block;
  }
}